<h1 class="mt-5">Welcome to Instagram Clone</h1>

<p class="lead">Please register or sing in to continue</p>

<%= link_to "Sing Up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sing In", new_account_session_path, class: "btn btn-secondary" %>
